---
layout: base.njk
title: About
permalink: /about/
---
<h1>About</h1>
<p class="byline">By Eshan Pradhan</p>
<p>
  High schooler talking about algorithmic bias and clinical data ethics.
</p>
<p>
  I'm really into health bioinformatics, and came across these topics while
  building my own models, tools, etc.
</p>
<p>
  Thought I'd come write about my experiences and my research with these things.
</p>
<p>
  Hope you find some of this stuff interesting. If you don't, I don't like you.
  Just kidding &mdash; I like everyone.
</p>
<p>
  Enjoy!
</p>
